body {
    margin: 0;
    /*overflow: hidden;*/
}

#bg_Canvas {
    overflow: hidden;
    z-index: -1;
    /*position: absolute;*/
    height: 100%;
    width: 100%;
}

#start
{
	text-align: center;
	font-family: Cursive;
	margin: 0;
    overflow: hidden;
}

#ending
{
	text-align: center;
	margin: 0;
    overflow: hidden;
    color:#F00;
}

#bg_Frame
{
    background-color: rgba(255,218,185,0.3);
    border-style: solid;
    border-width: 2px;
    border-radius: 16px
}